<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Page Description">
    <meta name="author" content="Diego">
    <title>iWannaSell.it - Buy and Sell your used stuff :D</title>

    <!--CSS-->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css')}}">

</head>
<body>

<header>

    <div class="container">

        <div class="row">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                <form action="" class="form-inline">

                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search"
                                      aria-hidden="true"></span>
                            </div>

                            <input type="search" class="form-control"
                                   id="search"
                                   placeholder="search for products, brands">

                        </div>
                    </div>

                </form>

            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="logo text-center">
                    <h4>iWannaSell.it</h4>
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                <ul id="main-menu">
                    <li>
                        <a href="#" class="btn">
                            <i class="glyphicon glyphicon-user"></i> login
                        </a>
                    </li>
                </ul>

            </div>

        </div>


        <div class="row">

            <div class="col-xs-12">
                <nav id="categories-menu-wrapper" class="text-center">
                    <ul id="categories-menu">
                        {% for category in categories %}
                        <li>
                            <a href="">
                                {{ category.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

        </div>

    </div>

</header>

<!-- content-->
<section>

    {% block content %}
    {% endblock %}

</section>
<!-- //content-->
<footer>

    <div class="container">

        <div class="row">

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

            </div>

        </div>

        <div class="copyright text-center">

            made with <i class="glyphicon glyphicon-heart-empty"></i>

        </div>

    </div>

</footer>

<script
        src="{{ url_for('static', filename='js/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap/dist/js/bootstrap.min.js')}}"></script>
</body>
</html>