{% extends "main.html" %}

{% block content %}

<div class="container page">

    <div class="row">

        <div
                class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 product-form-container">

            <h1 class="text-center">NICE!</h1>
            <h4 class="text-center">Let's sell some old stuff :D</h4>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

            {% for category, message in messages %}
            <div
                    class="alert alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">&times;</button>
                {{ message }}
            </div>
            {% endfor %}

            {% endif %}
            {% endwith %}

            <form method="post" class="validate" enctype="multipart/form-data"
                  novalidate
                  name="product-add">


                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.title.label }}
                    {{ form.title(class='form-control', required='required') }}
                </div>

                <div class="form-group">
                    {{ form.category_id.label }}
                    {{ form.category_id(class='form-control',
                    required='required')
                    }}
                </div>

                <div class="form-group">
                    {{ form.description.label }}
                    {{ form.description(class='form-control', rows="5",
                    required='required') }}
                </div>

                <div class="form-group">
                    {{ form.price.label }}
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                         {{ form.price(class='form-control mask-money',
                    required='required') }}
                    </div>


                </div>

                <div class="form-group">
                    {{form.picture.label}}
                    {{form.picture}}
                </div>

                <div class="form-group">
                    <div class="text-center">
                        <button type="submit"
                                class="btn btn-success btn-lg btn-block">Save!
                        </button>
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}