{% extends "main.html" %}

{% block content %}

<div class="container page">


    <div class="row">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 box">
            <div class="page-header">
                <h3>{{ product.title }}</h3>
            </div>

            <p>
                {{ product.description }}
            </p>

            <hr>
            <div class="item-author">
                <img src="http://placehold.it/30x30" class="img-circle"
                     alt="">
                {{ product.user.name }}
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            <img
                    src="{{ url_for('static', filename='uploads/'+product.picture) }}"
                 class="img-responsive"
                 alt="">

            <div class="product-actions">

                {% if product.user.id == current_user.id %}
                    <a
                            href="{{ url_for('site.product_edit', product_id=product.id) }}">
                        Edit</a>
                    <a
                            href="{{ url_for('site.product_delete', product_id=product.id) }}">Delete</a>
                {% endif %}

            </div>

        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 box">
            <h3>
               ${{ product.price }}
            </h3>

            <hr>
            <button class="btn btn-primary btn-block">
                i want it!
            </button>
        </div>

    </div>

</div>

{% endblock %}